# The .gitignore file uses patterns to determine which files and folders to ignore.
# An entry like FolderName/ without a leading slash (/) will ignore any directory named FolderName anywhere
# within the project's directory tree, but also all the subfolders under it.


# Ignoring all IntelliJ IDEA files
.idea/

# Archived Logs
archived/

# Logs
log/
/logback.xml

# AOT-cache
/paracoder.aot
/paracoder.aotconf

# Other
/doc
/paracoder_native.cmd
/*.jar_
